#loading {
    display: none;
}

.drama-container {
    display: flex;
    width : 600px;
    height : 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px #d3d3d3;
    align-items: center;
    opacity: 0.8;
}

.drama-container:hover {
    opacity: 1.0;
}

.character {
    border-radius: 70%;
}

/* 모달창 */
.modal {
    display: none;
    position: absolute;
    top: -50px;
    width:100%;
    height:100%;
    z-index:1;

  }
  
  .modal button {
    display:inline;
    width:30px;
    height: 30px;
    margin-left:calc(100% - 100px - 10px);
    border: 0;
  }
  
  .modal .modal_content {
    width:450px;
    margin:100px auto;
    padding:20px 10px;
    background:#fff;
    border-radius: 5px;
  }
  
  .modal .modal_layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
  }   

  .modal .btn {
      display: flex;
  }