<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'addDrama.css' %}">
</head>
<body>
    <form method="POST" action="{% url 'addDrama' %}">
        {% csrf_token %}
        <input type="text" name="search">
        <button type="submit">검색</button>
    </form>
    <div class="container">
        {% if db %}
            {% for drama in drama_infos %}
            <div class="drama-container" id={{drama.drama.pk}}>
                <div>
                    <img class="poster" src={{drama.drama.image}} width="150px" height="200px">
                </div>
                <div>
                    {{drama.drama.title}} 
                    <p>{{drama.drama.plot}}</p>
                </div>
                
            </div>
            <div class="modal" id="modal-{{drama.drama.pk}}">
                <div class="modal_content">
                    <div class="btn">
                        <h3>등장인물</h3>
                        <button type="button" class="modal_close_btn" id="modal_close_btn-{{drama.drama.pk}}">X</button>
                    </div>
                    {% for char in drama.characters %}
                    <img class="character" src={{char.poster}} width="100px" height="100px">
                    {% endfor %}
                </div>
                <div class="modal_layer"></div>
            </div>

                </br>
            {% endfor %}
        {% else %}
            {% if title %}
                <a id="getCrawl" href="{% url 'crawlDrama' title %}">'{{title}}' 데이터 가져오기</a>
                <img id="loading" src="https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif">
            {% endif %}
        {% endif %}
    </div>

    <script>
        var crawl_btn = document.querySelector("#getCrawl");
        var loading_img = document.querySelector("#loading");
        if (crawl_btn) {
            crawl_btn.addEventListener("click", ()=>{
                crawl_btn.style.display = "none";
                loading_img.style.display = "inline";
            });
        }

        // modal
        var container = document.querySelectorAll(".drama-container");
        function clickOpenHandler(e){
            var target = document.getElementById("modal-"+ e.currentTarget.id);
            target.style.display = "block";
            
        }
        for(var i=0;i<container.length;i++){
            container[i].addEventListener("click", clickOpenHandler);
        }

        var modal_close_btn = document.querySelectorAll(".modal_close_btn");
        function clickCloseHandler(e){
            var target = document.getElementById("modal-" + e.target.id.split('-')[1]);
            target.style.display = "none";
        }
        for(var i=0;i<modal_close_btn.length;i++){
            modal_close_btn[i].addEventListener("click", clickCloseHandler);
        }
        
        
    </script>
</body>
</html>