<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'addDrama.css' %}">
</head>
<body>
    <form method="POST" action="{% url 'addDrama' %}">
        {% csrf_token %}
        <input type="text" name="search">
        <button type="submit">검색</button>
    </form>
    <div class="container">
        {% if db %}
            {{drama.title}} 
            <img class="poster" src={{drama.image}}>
            {{drama.plot}}
            {{character}}
        {% else %}
            {% if title %}
                <a id="getCrawl" href="{% url 'crawlDrama' title %}">'{{title}}' 데이터 가져오기</a>
                <img id="loading" src="https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif">
            {% endif %}
        {% endif %}
    </div>

    <script>
        var crawl_btn = document.querySelector("#getCrawl");
        var loading_img = document.querySelector("#loading");
        if (crawl_btn) {
            crawl_btn.addEventListener("click", ()=>{
                crawl_btn.style.display = "none";
                loading_img.style.display = "inline";
            });
        }
    </script>
</body>
</html>