<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add by self</h1>
    <form action = "{% url 'insertDrama'%}" method = "POST">
    {% csrf_token %}
    <input placeholder = "드라마 제목" name = 'title'/>
    <br/>
    <br/>
    <input placeholder = "드라마 줄거리" name = 'plot'/>
    <br/>
    <br/>
    <input placeholder = "드라마 인물 관계도 or 포스터" name = 'image'/>
    <br/>
    <br/>
    <input placeholder = "드라마 공식사이트" name = 'site'/>
    <br/>
    <br/>
    <div class="characters">
        <div class="character">
            <input placeholder="주인공 이름" name = "name[]"/>
            <input placeholder="주인공 포스터" name = "poster[]"/>
            <input placeholder="주인공 설명" name = "desc[]"/>
        </div>
    </div>
    <button type="button" id="add">add</button>
    <button type='submit'>등록하기 > </button>
    </form>

    <script>
        var add_btn = document.getElementById("add");
        var div = document.querySelector(".character");
        function clickAddHandler(){
            var new_div = document.createElement("div");
            div.appendChild(new_div);
            var new_input = document.createElement("input");
            new_div.appendChild(new_input);
            new_input.setAttribute("placeholder", "주인공 이름");
            new_input.setAttribute("name", "name[]");
            new_div.appendChild(new_input);
            new_input = document.createElement("input");
            new_input.setAttribute("placeholder", "주인공 포스터");
            new_input.setAttribute("name", "poster[]");
            new_div.appendChild(new_input);
            new_input = document.createElement("input");
            new_input.setAttribute("placeholder", "주인공 설명");
            new_input.setAttribute("name", "desc[]");
            new_div.appendChild(new_input);
            console.log(new_div);
        }
        add_btn.addEventListener("click", clickAddHandler);
    </script>

</body>
</html>