<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주인공은 나야나</title>
    <link rel="stylesheet" href="{% static 'css/quiz2.css' %}" />
</head>

<body>
    <div class="card">
        <div class="card_main">
            <div class="blank"></div>
            <br />
            <h1>Q7. 과제가 생겼을 때, 나는?</h1>
            <br />
            <div class="blank"></div>
        </div>
        <form method="POST" action="{% url 'mbti' 8 %}">
            {% csrf_token %}
            <div class="card_quiz">
                <button class="select_btn_1" value="J" name="select">계획 세워 순조롭게 끝!</button>
                <br />
                <button class="select_btn_2" value="P" name="select">닥치면 하게 되어있어 …ㅋ</button>
            </div>
        </form>
        <div class="bar">
            <img src="{% static 'source/7P.png' %}" width="300" height="30" />
        </div>
    </div>
</body>

</html>